# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
build-kinemetic_simulation-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/
build-kinemetic_simulation-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
build-multiThreads-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
build-multiThreads-Desktop_Qt_5_14_2_MinGW_64_bit-Release/
CommDemo 202101172345/



# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
zips/
build-kinemetic_simulation-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/
build-kinemetic_simulation-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
omega7_com/cmake-build-debug/
build-omega7_com-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
build-omega7_qcom-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
omega7_com.zip
multiThreads/.idea/deployment.xml
multiThreads/.idea/misc.xml
multiThreads/.idea/modules.xml
multiThreads/.idea/multiThreads.iml
multiThreads/.idea/vcs.xml
multiThreads/.idea/workspace.xml
kinemetic_sim/.idea/.gitignore
kinemetic_sim/.idea/deployment.xml
kinemetic_sim/.idea/kinemetic_sim.iml
kinemetic_sim/.idea/misc.xml
kinemetic_sim/.idea/modules.xml
kinemetic_sim/.idea/vcs.xml
omega7_com/cmake-build-qt-release/.ninja_deps
omega7_com/cmake-build-qt-release/.ninja_log
omega7_com/cmake-build-qt-release/ALL_BUILD.vcxproj
omega7_com/cmake-build-qt-release/ALL_BUILD.vcxproj.filters
omega7_com/cmake-build-qt-release/build.ninja
omega7_com/cmake-build-qt-release/cmake_install.cmake
omega7_com/cmake-build-qt-release/CMakeCache.txt
omega7_com/cmake-build-qt-release/omega7_com.exe
omega7_com/cmake-build-qt-release/omega7_com.sln
omega7_com/cmake-build-qt-release/omega7_com.vcxproj
omega7_com/cmake-build-qt-release/omega7_com.vcxproj.filters
omega7_com/cmake-build-qt-release/Qt5Core.dll
omega7_com/cmake-build-qt-release/Qt5Gui.dll
omega7_com/cmake-build-qt-release/Qt5Widgets.dll
omega7_com/cmake-build-qt-release/ZERO_CHECK.vcxproj
omega7_com/cmake-build-qt-release/ZERO_CHECK.vcxproj.filters
omega7_com/cmake-build-qt-release/.cmake/api/v1/query/cache-v2
omega7_com/cmake-build-qt-release/.cmake/api/v1/query/cmakeFiles-v1
omega7_com/cmake-build-qt-release/.cmake/api/v1/query/codemodel-v2
omega7_com/cmake-build-qt-release/.cmake/api/v1/query/toolchains-v1
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/cache-v2-876cf21b380d66c26726.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/cmakeFiles-v1-9d5312d9fa411b2c4cb7.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/codemodel-v2-bfa5ebc023574655ca1a.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/index-2023-03-07T14-13-20-0140.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/target-omega7_com_autogen-Release-1d277b0289946d352353.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/target-omega7_com-Release-b2691c02ed82250a8bc3.json
omega7_com/cmake-build-qt-release/.cmake/api/v1/reply/toolchains-v1-8d1c52d2d4affe5543ac.json
omega7_com/cmake-build-qt-release/CMakeFiles/clean_additional.cmake
omega7_com/cmake-build-qt-release/CMakeFiles/clion-environment.txt
omega7_com/cmake-build-qt-release/CMakeFiles/clion-QT-Release-log.txt
omega7_com/cmake-build-qt-release/CMakeFiles/cmake.check_cache
omega7_com/cmake-build-qt-release/CMakeFiles/CMakeOutput.log
omega7_com/cmake-build-qt-release/CMakeFiles/rules.ninja
omega7_com/cmake-build-qt-release/CMakeFiles/TargetDirectories.txt
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeCCompiler.cmake
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CMakeSystem.cmake
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CompilerIdC/a.exe
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
omega7_com/cmake-build-qt-release/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/main.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/E_/Softwares/opengl/glad/glad/src/glad.c.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/omega7_com_autogen/mocs_compilation.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/catheter_kinemetic.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/kine_show.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/kinemetic_widget.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/mainwindow.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/omega_com.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/QPlot3D.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com.dir/src/rigid_kinematic.cpp.obj
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com_autogen.dir/AutogenInfo.json
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com_autogen.dir/AutogenUsed.txt
omega7_com/cmake-build-qt-release/CMakeFiles/omega7_com_autogen.dir/ParseCache.txt
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/catheter_kinemetic.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/glad.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/kinemetic_widget.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/main.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/mocs_compilation_Debug.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega_com.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/QPlot3D.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/rigid_kinematic.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/vc142.pdb
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CL.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CL.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CL.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CustomBuild.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CustomBuild.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/CustomBuild.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/link.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/link.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/link.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/omega7_com.lastbuildstate
omega7_com/cmake-build-qt-release/omega7_com.dir/Debug/omega7_com.tlog/unsuccessfulbuild
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/catheter_kinemetic.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/glad.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/kinemetic_widget.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/main.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/mocs_compilation_Release.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega_com.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/QPlot3D.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/rigid_kinematic.obj
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CL.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CL.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CL.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CustomBuild.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CustomBuild.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/CustomBuild.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/link.command.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/link.read.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/link.write.1.tlog
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/omega7_com.lastbuildstate
omega7_com/cmake-build-qt-release/omega7_com.dir/Release/omega7_com.tlog/unsuccessfulbuild
omega7_com/cmake-build-qt-release/omega7_com_autogen/moc_predefs.h
omega7_com/cmake-build-qt-release/omega7_com_autogen/mocs_compilation.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_kine_show.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_kinemetic_widget.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_mainwindow.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_omega_com.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_QPlot3D.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/6OFTS6FJJP/moc_rigid_kinematic.cpp
omega7_com/cmake-build-qt-release/omega7_com_autogen/form/ui_kine_show.h
omega7_com/cmake-build-qt-release/omega7_com_autogen/form/ui_mainwindow.h
omega7_com/cmake-build-qt-release/plugins/platforms/qwindows.dll
omega7_com/cmake-build-qt-release/Testing/Temporary/LastTest.log
omega7_com/cmake-build-qt-release/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
omega7_com/cmake-build-qt-release/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
omega7_com/cmake-build-qt-release/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
omega7_com/cmake-build-qt-release/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
omega7_com/cmake-build-qt-release/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
omega7_com/cmake-build-qt-release/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
omega7_com/cmake-build-qt-release/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
omega7_com/cmake-build-qt-release/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
kinematics_com/cmake-build-debug/.ninja_deps
kinematics_com/cmake-build-debug/.ninja_log
kinematics_com/cmake-build-debug/build.ninja
kinematics_com/cmake-build-debug/cmake_install.cmake
kinematics_com/cmake-build-debug/CMakeCache.txt
kinematics_com/cmake-build-debug/kinematics_com.exe
kinematics_com/cmake-build-debug/Qt5Core.dll
kinematics_com/cmake-build-debug/Qt5Gui.dll
kinematics_com/cmake-build-debug/Qt5Widgets.dll
kinematics_com/cmake-build-debug/.cmake/api/v1/query/cache-v2
kinematics_com/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
kinematics_com/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
kinematics_com/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/cache-v2-8e0faa8b9037124cb2a4.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1e629da9a4e07e72829c.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-de5cf649622198e8846a.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-07T14-48-14-0614.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/target-kinematics_com_autogen-Debug-9a694553996578c5f665.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/target-kinematics_com-Debug-239df7d7aa41e00e3bdb.json
kinematics_com/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-8d1c52d2d4affe5543ac.json
kinematics_com/cmake-build-debug/CMakeFiles/clean_additional.cmake
kinematics_com/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
kinematics_com/cmake-build-debug/CMakeFiles/clion-environment.txt
kinematics_com/cmake-build-debug/CMakeFiles/cmake.check_cache
kinematics_com/cmake-build-debug/CMakeFiles/CMakeOutput.log
kinematics_com/cmake-build-debug/CMakeFiles/rules.ninja
kinematics_com/cmake-build-debug/CMakeFiles/TargetDirectories.txt
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
kinematics_com/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
kinematics_com/cmake-build-debug/CMakeFiles/kinematics_com.dir/main.cpp.obj
kinematics_com/cmake-build-debug/CMakeFiles/kinematics_com.dir/kinematics_com_autogen/mocs_compilation.cpp.obj
kinematics_com/cmake-build-debug/CMakeFiles/kinematics_com_autogen.dir/AutogenInfo.json
kinematics_com/cmake-build-debug/CMakeFiles/kinematics_com_autogen.dir/AutogenUsed.txt
kinematics_com/cmake-build-debug/CMakeFiles/kinematics_com_autogen.dir/ParseCache.txt
kinematics_com/cmake-build-debug/kinematics_com_autogen/moc_predefs.h
kinematics_com/cmake-build-debug/kinematics_com_autogen/mocs_compilation.cpp
kinematics_com/cmake-build-debug/plugins/platforms/qwindows.dll
kinematics_com/cmake-build-debug/Testing/Temporary/LastTest.log
kinematics_com/.idea/.gitignore
kinematics_com/.idea/deployment.xml
kinematics_com/.idea/kinematics_com.iml
kinematics_com/.idea/misc.xml
kinematics_com/.idea/modules.xml
kinematics_com/.idea/vcs.xml
